*{
	margin: 0px;
	padding: 0;
	font-family: "微软雅黑";
}

header{
	width: 100%;
	height: 32px;
	border: 1px solid #ccc;
}
header div{
	float: right;
	line-height: 32px;
}


#head_left>ul>li{
	float: left;
	margin-left:1.9rem
}
#head_right{
	margin-left: 1.9rem;
	width: 5.7rem;
	background-color: #00f;
	padding-left: 1.4rem;
	color: #fff;
}

/*logo search*/

#logo_search>img{
	width: 22.5rem;
	height: 10.75rem;
	display: block;
	margin: 0 auto;
}
#logo_search input{
	width: 44.65rem;
	height: 39px;
	margin-right: none
}
#logo_search label{
	display: inline-block;
	height: 39px;
	width: 8.5rem;
	text-align: center;
	line-height: 39px;
	font-size: 16px;
	cursor: pointer;
	background-color: #00f;
	margin-left: none;
	color: #fff;
}
#logo_search div{
	width: 53.49rem;
	margin: 0 auto
}




/*通用*/
header div{
	float: right;
	line-height: 32px;
	font-size: 1.3rem
}
#head_left li{
	list-style: none;
}
/*li设置通用*/
#head_left ul li a:-webkit-any-link{
	color: #000;
	
}

.world{
	font-weight: bold;
}
/*隐藏下拉列表*/
.display{
	display: none;
}
/*显示下拉*/
#head_left>ul>li:last-child:hover>.display{
	display: block;
}